.container {
  margin-top: 32px;
}

.header {
  text-align: center;
}

.main-content {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left {
  margin: 32px 32px 0px 32px;
}

.right {
  margin: 32px;
  max-width: 100%;
}

.view-table {
  overflow-x: scroll;
  overflow-y: hidden;
}

.view-table th, .view-table td {
  overflow: hidden;
  white-space: nowrap;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;

  & .custom-file {
    margin: 8px;
  }

  & button {
    margin: 8px;
  }
}

td {
  margin: 4px;
}

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
